Repository Dmitry178/FrankenJet: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_backend_job, deploy_frontend_job

.gitlab-ci.yml:

stages:
  - deploy_backend
  - deploy_frontend

deploy_backend_job:
  stage: deploy_backend
  tags:
    - frankenjet
  rules:
    - if: $CI_COMMIT_BRANCH == "deploy"
      changes:
        - backend/**/*
        - .gitlab-ci.yml
  variables:
    APP_MODE: production
    ENV_FILE: ./backend/backend.env
    YML_FILE: ./backend/docker-compose.yml
  script:
    - cp ${ENV_BACKEND} ${ENV_FILE}
    - docker compose -f ${YML_FILE} up -d --build
  after_script:
    - rm -f ./${ENV_FILE}

deploy_frontend_job:
  stage: deploy_frontend
  tags:
    - deploy
  rules:
    - if: $CI_COMMIT_BRANCH == "deploy"
      changes:
        - frontend/**/*
        - .gitlab-ci.yml
  variables:
    API_BASE_URL: /api
    ENV_FILE: ./frontend/frontend.env
    YML_FILE: ./frontend/docker-compose.yml
  script:
    - cp ${ENV_FRONTEND} ${ENV_FILE}
    - docker compose -f ${YML_FILE} up -d --build
  after_script:
    - rm -f ./${ENV_FILE}

Корректировка названия
  frontend/src/services/authService.js
Due: deploy_frontend_job

Перенесено в articles, вынесена бизнес-логика
  frontend/src/components/Aircraft.vue
  frontend/src/components/Articles.vue
  frontend/src/components/articles/Aircraft.vue
  frontend/src/components/articles/Articles.vue
Due: deploy_frontend_job

Корректировка импортов
  frontend/src/components/Article.vue
  frontend/src/components/Search.vue
  frontend/src/composables/useAuth.js
Due: deploy_frontend_job

Добавлены библиотеки для typescript
  frontend/package-lock.json
  frontend/package.json
Due: deploy_frontend_job

Корректировка импорта
  frontend/src/main.js
Due: deploy_frontend_job

Корректировка импорта
  frontend/src/components/Home.vue
Due: deploy_frontend_job

Добавлена возможность отправки кастомного сообщения в бот при приветствии
  frontend/src/components/ChatBot.vue
Due: deploy_frontend_job

Добавлен компонент настроек чат-бота
  frontend/src/components/admin/BotSettings.vue
Due: deploy_frontend_job

Добавлен сервис настроек чат-бота
  frontend/src/services/botSettingsService.ts
Due: deploy_frontend_job

Добавлен composable настроек чат-бота
  frontend/src/composables/useBotSettings.ts
Due: deploy_frontend_job

Добавлен конфиг typescript
  frontend/src/tsconfig.json
Due: deploy_frontend_job

Добавлен сервис страницы статей
  frontend/src/services/articlesService.ts
Due: deploy_frontend_job

Вынесена бизнес-логика страницы статей
  frontend/src/composables/useArticles.ts
Due: deploy_frontend_job

Вынесена бизнес-логика компонента характеристик воздушных судов
  frontend/src/composables/useAircraft.ts
Due: deploy_frontend_job

Добавлен пункт настроек бота в пользовательское меню
  frontend/src/components/menus/UserMenu.vue
Due: deploy_frontend_job

Добавлен компонент пользовательского меню в роутер
  frontend/src/plugins/router.js
Due: deploy_frontend_job

Доработано описание структуры приложения
  README.md
Due: none

Добавлена обработка случая отключения чат-бота
  backend/app/services/chatbot.py
Due: deploy_backend_job

Добавлен метод чтения настроек бота из базы в ChatBotSettingsManager
  backend/app/config/chatbot.py
Due: deploy_backend_job

Корректировка типа параметра в get_user_info
  backend/app/services/auth.py
Due: deploy_backend_job

Корректировка названия вызываемого метода класса
  backend/app/core/gigachat.py
  backend/app/services/app.py
Due: deploy_backend_job

Добавлены маршруты получения и сохранения настроек чат-бота
  backend/app/api/app.py
Due: deploy_backend_job

Добавлен PATCH /bot-settings
  backend/app/api/app.py
Due: deploy_backend_job

Добавлен таб
  frontend/src/components/admin/BotSettings.vue
Due: deploy_frontend_job

Добавлены методы частичного сохранения данных
  frontend/src/services/botSettingsService.ts
Due: deploy_frontend_job

Добавлена вкладка с данными формы
  frontend/src/components/admin/BotSettingsTab.vue
  frontend/src/components/admin/PromptsSettingsTab.vue
Due: deploy_frontend_job

Добавлена вкладка для настроек RAG-бота
  frontend/src/components/admin/RagTab.vue
Due: deploy_frontend_job

Добавлена загрузка/сохранение данных вкладки настроек бота
  frontend/src/composables/useBotSettings.ts
Due: deploy_frontend_job

Добавлена загрузка/сохранение данных вкладки настроек бота
  frontend/src/composables/useBotSettingsTab.ts
Due: deploy_frontend_job

Добавлена загрузка/сохранение данных вкладки настроек промтов
  frontend/src/composables/usePromptsSettingsTab.ts
Due: deploy_frontend_job

Добавлено частичное сохранение настроек (для метода PATCH)
  backend/app/config/chatbot.py
Due: deploy_backend_job

Добавлено частичное обновление настроек в базе
  backend/app/db/repository/chatbot.py
Due: deploy_backend_job

Сохранение настроек перенесено в сервисный слой
  backend/app/api/app.py
Due: deploy_backend_job

Убрана тень у кнопки сохранения настроек
  frontend/src/components/admin/BotSettingsTab.vue
  frontend/src/components/admin/PromptsSettingsTab.vue
Due: deploy_frontend_job

Убрана вызов сохранения настроек
  backend/app/config/chatbot.py
Due: deploy_backend_job

Упрощено получение и сохранение настроек чат-бота
  backend/app/db/repository/chatbot.py
Due: deploy_backend_job

Незначительные изменения
  backend/app/core/db_manager.py
Due: deploy_backend_job

Добавлен сервис работы с настройками чат-бота
  backend/app/services/chatbot_settings.py
Due: deploy_backend_job

Вынесены компоненты модального окна с изображением, теги и таблица содержания
  frontend/src/components/articles/Article.vue
Due: deploy_frontend_job

Исправлен путь импорта
  frontend/src/plugins/router.js
Due: deploy_frontend_job
