Repository Dmitry178/FrankenJet: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_backend_job, deploy_frontend_job

.gitlab-ci.yml:

stages:
  - deploy_backend
  - deploy_frontend

deploy_backend_job:
  stage: deploy_backend
  tags:
    - frankenjet
  rules:
    - if: $CI_COMMIT_BRANCH == "deploy"
      changes:
        - backend/**/*
        - .gitlab-ci.yml
  variables:
    APP_MODE: production
    ENV_FILE: ./backend/backend.env
    YML_FILE: ./backend/docker-compose.yml
  script:
    - cp ${ENV_BACKEND} ${ENV_FILE}
    - docker compose -f ${YML_FILE} up -d --build
  after_script:
    - rm -f ./${ENV_FILE}

deploy_frontend_job:
  stage: deploy_frontend
  tags:
    - deploy
  rules:
    - if: $CI_COMMIT_BRANCH == "deploy"
      changes:
        - frontend/**/*
        - .gitlab-ci.yml
  variables:
    API_BASE_URL: /api
    ENV_FILE: ./frontend/frontend.env
    YML_FILE: ./frontend/docker-compose.yml
  script:
    - cp ${ENV_FRONTEND} ${ENV_FILE}
    - docker compose -f ${YML_FILE} up -d --build
  after_script:
    - rm -f ./${ENV_FILE}

Добавлен метод EmbedTextBatch в сгенерированные .proto-файлы
  backend/app/core/grpc_clients/vectorizer_pb2.py
  backend/app/core/grpc_clients/vectorizer_pb2_grpc.py
  vectorizer/proto/vectorizer_pb2.py
Due: deploy_backend_job

Коррекция параметра
  vectorizer/proto/vectorizer.proto
Due: none

Добавлен параметр bot_settings
  backend/app/services/websocket.py
Due: deploy_backend_job

Добавлена директория для кэша моделей
  vectorizer/models/.gitignore
Due: none

Добавлен .gitlab-ci.yml в микросервис
  vectorizer/.gitlab-ci.yml
Due: none

Добавлена обработка ссылок в ответе бота
  frontend/src/stores/chat.js
Due: deploy_frontend_job

Добавлены поля rag_prompt и feedback в модель настройки чат-бота
  backend/app/db/models/chatbot.py
Due: deploy_backend_job

Доработан метод получения истории чата
  backend/app/db/repository/chatbot.py
Due: deploy_backend_job

Добавлены поля в схему настроек чат-бота
  backend/app/schemas/chatbot.py
Due: deploy_backend_job

Добавлена логика работы RAG-бота
  backend/app/services/chatbot.py
Due: deploy_backend_job

Добавлено формирование ссылок в ответах бота
  frontend/src/components/ChatBot.vue
Due: deploy_frontend_job

Добавлено монтирование директории кэша моделей
  vectorizer/docker-compose.yml
Due: none

Добавлено создание директории кэша моделей
  vectorizer/Dockerfile
Due: none

Менеджер работы с Elasticsearch сделан контекстным
  backend/app/core/es_manager.py
Due: deploy_backend_job

Подключена логика RAG-бота
  backend/app/core/gigachat.py
Due: deploy_backend_job

Изменение параметра размерности индекса, рефакторинг
  backend/scripts/init_es.py
Due: deploy_backend_job

Добавлено исключение сгенерированных .proto-файлов для ruff
  backend/pyproject.toml
Due: deploy_backend_job

Добавлен класс для работы RAG-бота
  backend/app/services/ragbot.py
Due: deploy_backend_job

Добавлено логгирование
  backend/app/core/rmq_manager.py
Due: deploy_backend_job

Исправлены названия аргументов
  vectorizer/app/service.py
Due: none

Убрано дублирование кода
  backend/app/services/search.py
Due: deploy_backend_job

Переименование модели
  backend/app/db/models/__init__.py
Due: deploy_backend_job

Дополнено описание проекта
  README.md
Due: none

Дополнена схема архитектуры проекта
  images/fja.png
Due: none

Добавлен метод векторизации массива текстов
  backend/app/core/vectorizer.py
Due: deploy_backend_job

Добавлен .gitlab-ci.yml для деплоя бота уведомлений
  notifications/.gitlab-ci.yml
Due: none

Добавлен docker-compose.yml для деплоя бота уведомлений
  notifications/docker-compose.yml
Due: none

Исправлено получение оставшегося количества токенов
  backend/app/services/chatbot.py
Due: deploy_backend_job

Добавлен асинхронный метод получения настроек чат-бота
  backend/app/config/chatbot.py
Due: deploy_backend_job

Доработка проверки лимитов на токены
  backend/app/services/chatbot.py
Due: deploy_backend_job

Добавлены ссылки на Junkers F13
  backend/scripts/data/facts.txt
Due: deploy_backend_job

Добавлены факт и ссылки на статьи
  backend/scripts/data/facts.txt
Due: deploy_backend_job

Изменение положения кнопки FAB в зависимости от доступности чат-бота
  frontend/src/App.vue
Due: deploy_frontend_job

Добавлен вариант развёртывания через gunicorn
  backend/scripts/entrypoint.sh
Due: deploy_backend_job

Переименование метода send_message
  backend/app/services/chatbot.py
Due: deploy_backend_job

Переименование метода send_message, рефакторинг
  backend/app/core/gigachat.py
Due: deploy_backend_job

Добавлен индекс в извлекаемые данные из текста
  backend/app/services/ragbot.py
Due: deploy_backend_job

Улучшение адаптации чата под мобильную версию
  frontend/src/components/ChatBot.vue
Due: deploy_frontend_job

Изменение версии python
  backend/.python-version
Due: deploy_backend_job

Обновлены версии библиотек
  backend/pyproject.toml
  backend/uv.lock
Due: deploy_backend_job
