Repository Dmitry178/FrankenJet: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_backend_job, deploy_frontend_job

deploy_backend_job:
  stage: deploy_backend
  tags:
  - frankenjet
  variables:
    APP_MODE: production
    ENV_FILE: ./backend/backend.env
    YML_FILE: ./backend/docker-compose.yml
  script:
  - cp ${ENV_BACKEND} ${ENV_FILE}
  - docker compose -f ${YML_FILE} up -d --build
  after_script:
  - rm -f ./${ENV_FILE}

deploy_frontend_job:
  stage: deploy_frontend
  tags:
  - deploy
  variables:
    API_BASE_URL: /api
    ENV_FILE: ./frontend/frontend.env
    YML_FILE: ./frontend/docker-compose.yml
  script:
  - cp ${ENV_FRONTEND} ${ENV_FILE}
  - docker compose -f ${YML_FILE} up -d --build
  after_script:
  - rm -f ./${ENV_FILE}

Добавлен пустой базовый репозиторий
  backend/app/db/repository/base.py
Due: deploy_backend_job

Переименован роутер
  backend/app/api/bot.py
Due: deploy_backend_job

Сделана подготовка данных для чат-бота
  frontend/src/stores/chat.js
Due: deploy_frontend_job

Добавлен маршрут чат-бота
  backend/app/api/chat_bot.py
Due: deploy_backend_job

Добавлен менеджер настроек чат-бота
  backend/app/config/chat_bot.py
Due: deploy_backend_job

Добавлены модели чат-бота
  backend/app/db/models/chat_bot.py
Due: deploy_backend_job

Добавлен репозиторий чат-бота
  backend/app/db/repository/chat_bot.py
Due: deploy_backend_job

Добавлены схемы чат-бота
  backend/app/schemas/chat_bot.py
Due: deploy_backend_job

Добавлен сервисный слой чат-бота
  backend/app/services/chatbot.py
Due: deploy_backend_job

Добавлен менеджер для работы с gigachat
  backend/app/core/gigachat.py
Due: deploy_backend_job

Добавлена схема для работы с gigachat api
  backend/app/schemas/gigachat.py
Due: deploy_backend_job

Добавлены схемы postgres в инициализацию данных
  backend/scripts/init_data.py
Due: deploy_backend_job

Добавлена модель базы знаний о проекте
  backend/app/db/models/knowledge_base.py
Due: deploy_backend_job

Добавлен репозиторий базы знаний о проекте
  backend/app/db/repository/knowledge_base.py
Due: deploy_backend_job

Добавлена инициализация чата и подавление лишних логов загрузки websocket
  frontend/src/main.js
Due: deploy_frontend_job

Добавлена библиотека pgvector
  backend/pyproject.toml
  backend/uv.lock
Due: deploy_backend_job

Добавлен менеджер БД репозиториев схемы app и чат-бота
  backend/app/core/db_manager.py
Due: deploy_backend_job

Добавлены переменные окружения настроек чат-бота
  backend/app/config/env.py
Due: deploy_backend_job

Добавлен README.md директории сертификатов
  backend/certs/README.md
Due: deploy_backend_job

Добавлена информация о roadmap
  README.md
Due: none

Добавлен SVG-значок робота
  frontend/src/components/RobotIcon.vue
Due: deploy_frontend_job

Добавлены поля с url S3-хранилища и активности бота в настройках
  frontend/src/stores/settings.js
Due: deploy_frontend_job

Добавлен аннотированный тип str_2048
  backend/app/db/types.py
Due: deploy_backend_job

Переписан websocket под чат-бот
  frontend/src/stores/websocket.js
Due: deploy_frontend_job

Переделан маршрут websocket под чат-бот
  backend/app/api/websocket.py
Due: deploy_backend_job

Переписана обработка входящих сообщений websocket под чат-бот
  backend/app/services/websocket.py
Due: deploy_backend_job

Переписана логика работы websocket под чат-бот
  backend/app/core/ws_manager.py
Due: deploy_backend_job

Добавлен компонент чат-бота
  frontend/src/components/ChatBot.vue
Due: deploy_frontend_job

Добавлена эмблема проекта
  images/fj.png
Due: none

Добавлено отображение эмблемы проекта
  README.md
Due: none

Добавлены правила .gitignore
  vectorizer/.gitignore
Due: none

Добавлена версия python в микросервис Vectorizer
  vectorizer/.python-version
Due: none

Добавлен пакет grpc_clients
  backend/app/core/grpc_clients/__init__.py
Due: deploy_backend_job

Добавлен пакет app в микросервисе Vectorizer
  vectorizer/app/__init__.py
Due: none

Добавлен пакет proto в микросервисе Vectorizer
  vectorizer/proto/__init__.py
Due: none

Добавлена инициализация асинхронного менеджера vectorizer_manager
  backend/app/core/__init__.py
Due: deploy_backend_job

Добавлен подсчёт токенов за день
  backend/app/db/repository/chatbot.py
Due: deploy_backend_job

Изменение типа полей в ChatHistory
  backend/app/db/models/chatbot.py
Due: deploy_backend_job

Добавлен TODO
  backend/app/services/chatbot.py
Due: deploy_backend_job

Добавлен docker-compose.yml для сервиса Vectorizer
  vectorizer/docker-compose.yml
Due: none

Path conditions:
  deploy_backend_job: any of: backend/**/*, .gitlab-ci.yml
  deploy_frontend_job: any of: frontend/**/*, .gitlab-ci.yml
