Repository Dmitry178/FrankenJet: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_backend_job, deploy_frontend_job

deploy_backend_job:
  stage: deploy_backend
  tags:
  - frankenjet
  variables:
    APP_MODE: production
    ENV_FILE: ./backend/backend.env
    YML_FILE: ./backend/docker-compose.yml
  script:
  - cp ${ENV_BACKEND} ${ENV_FILE}
  - docker compose -f ${YML_FILE} up -d --build
  after_script:
  - rm -f ./${ENV_FILE}

deploy_frontend_job:
  stage: deploy_frontend
  tags:
  - deploy
  variables:
    API_BASE_URL: /api
    ENV_FILE: ./frontend/frontend.env
    YML_FILE: ./frontend/docker-compose.yml
  script:
  - cp ${ENV_FRONTEND} ${ENV_FILE}
  - docker compose -f ${YML_FILE} up -d --build
  after_script:
  - rm -f ./${ENV_FILE}

Изменение названия тега
  .gitlab-ci.yml
Due: deploy_backend_job, deploy_frontend_job

Актуализация данных по CI/CD
  README.md
Due: none

Актуализирован пример переменных окружения
  backend/example.env
Due: deploy_backend_job

Актуализация скриншота главной страницы
  images/home.png
Due: none

Сделано выравнивание карточек статей на главной странице
  frontend/src/components/Home.vue
Due: deploy_frontend_job

Добавлены поля в AircraftPurpose
  backend/app/db/models/aircraft.py
Due: deploy_backend_job

Добавлено назначение воздушного судна
  backend/scripts/articles/aircraft/concorde_1969.json
  backend/scripts/articles/aircraft/graf_zeppelin_1928.json
  backend/scripts/articles/aircraft/il_2_1939.json
  backend/scripts/articles/aircraft/wright_flyer_1903.json
Due: deploy_backend_job

Добавлен эндпоинт для получения информации для страницы статей
  backend/app/api/pages.py
Due: deploy_backend_job

Добавлена обработка информации для страницы статей в сервисном слое
  backend/app/services/pages.py
Due: deploy_backend_job

Добавлен подсчёт тегов во всех статьях
  backend/app/db/repository/tags.py
Due: deploy_backend_job

Добавлено получение и обработка подсчёта тегов во всех статьях
  backend/app/services/tags.py
Due: deploy_backend_job

Правки в описании POST /admin/uploads
  backend/app/api/admin.py
Due: deploy_backend_job

Добавлено TagsCategories в __init__
  backend/app/db/models/__init__.py
Due: deploy_backend_job

Добавлен путь к S3 в формировании json настроек приложения
  backend/app/services/app.py
Due: deploy_backend_job

Добавлен пункт меню "Статьи"
  frontend/src/App.vue
Due: deploy_frontend_job

Добавлена ссылка на статьи в breadcrumbs
  frontend/src/components/Article.vue
Due: deploy_frontend_job

Добавлен компонент статей
  frontend/src/components/Articles.vue
Due: deploy_frontend_job

Добавлено поле страны
  backend/scripts/articles/aircraft/concorde_1969.json
  backend/scripts/articles/aircraft/graf_zeppelin_1928.json
  backend/scripts/articles/aircraft/il_2_1939.json
  backend/scripts/articles/aircraft/wright_flyer_1903.json
Due: deploy_backend_job

Добавлен путь к статьям в роутере
  frontend/src/plugins/router.js
Due: deploy_frontend_job

Добавлен json с тегами для инициализации первичных данных
  backend/scripts/data/tags.json
Due: deploy_backend_job

Добавлен json с категориями тегов для инициализации первичных данных
  backend/scripts/data/tags_categories.json
Due: deploy_backend_job

Добавлен аннотированный ForeignKey
  backend/app/db/types.py
Due: deploy_backend_job

Добавлен запрос списка доступных тегов
  backend/app/db/repository/tags.py
Due: deploy_backend_job

Переделан формирование информации для страницы со статьями
  backend/app/services/pages.py
Due: deploy_backend_job

Добавлен декоратор кэша
  backend/app/api/pages.py
Due: deploy_backend_job

Добавлена обработка тегов и категорий тегов
  backend/scripts/init_data.py
Due: deploy_backend_job

Убран неиспользуемый код
  frontend/src/components/Home.vue
Due: deploy_frontend_job

Переделан эндпоинт вывода списка статей (вместо фильтров сделано получение списка тегов)
  backend/app/api/articles.py
Due: deploy_backend_job

Добавлена модель категории тегов
  backend/app/db/models/articles.py
Due: deploy_backend_job

Добавлен запрос на получение списка статей по тегам (с пагинацией)
  backend/app/db/repository/articles.py
Due: deploy_backend_job

Добавлено получение и обработка списка статей по тегам (с пагинацией)
  backend/app/services/articles.py
Due: deploy_backend_job

Сделано сохранение состояния страницы статей
  frontend/src/components/Articles.vue
Due: deploy_frontend_job

Добавлены поля sort_order в модели tags_categories и tags
  backend/app/db/models/articles.py
Due: deploy_backend_job

Добавлены значения сортировки
  backend/scripts/data/tags.json
  backend/scripts/data/tags_categories.json
Due: deploy_backend_job

Добавлена сортировка в запрос
  backend/app/db/repository/tags.py
Due: deploy_backend_job

Доработано меню в мобильной версии
  frontend/src/App.vue
Due: deploy_frontend_job

Сделан дополнительный отступ в заголовке в мобильной версии
  frontend/src/App.vue
Due: deploy_frontend_job

Сделан вывод разного варианта заголовка в описании проекта для мобильной и десктоп-версии
  frontend/src/components/Home.vue
Due: deploy_frontend_job

Сделана различная компоновка изображения и текста для мобильной и десктоп-версии результатов поиска
  frontend/src/components/Search.vue
Due: deploy_frontend_job

Сделана различная компоновка изображения и текста для мобильной и десктоп-версии статей
  frontend/src/components/Articles.vue
Due: deploy_frontend_job

Path conditions:
  deploy_backend_job: any of: backend/**/*, .gitlab-ci.yml
  deploy_frontend_job: any of: frontend/**/*, .gitlab-ci.yml
