Repository Dmitry178/FrankenJet: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_backend_job, deploy_frontend_job

.gitlab-ci.yml:

stages:
  - deploy_backend
  - deploy_frontend

deploy_backend_job:
  stage: deploy_backend
  tags:
    - frankenjet
  rules:
    - if: $CI_COMMIT_BRANCH == "deploy"
      changes:
        - backend/**/*
        - .gitlab-ci.yml
  variables:
    APP_MODE: production
    ENV_FILE: ./backend/backend.env
    YML_FILE: ./backend/docker-compose.yml
  script:
    - cp ${ENV_BACKEND} ${ENV_FILE}
    - docker compose -f ${YML_FILE} up -d --build
  after_script:
    - rm -f ./${ENV_FILE}

deploy_frontend_job:
  stage: deploy_frontend
  tags:
    - deploy
  rules:
    - if: $CI_COMMIT_BRANCH == "deploy"
      changes:
        - frontend/**/*
        - .gitlab-ci.yml
  variables:
    API_BASE_URL: /api
    ENV_FILE: ./frontend/frontend.env
    YML_FILE: ./frontend/docker-compose.yml
  script:
    - cp ${ENV_FRONTEND} ${ENV_FILE}
    - docker compose -f ${YML_FILE} up -d --build
  after_script:
    - rm -f ./${ENV_FILE}

Добавлен Dockerfile для сервиса Vectorizer
  vectorizer/Dockerfile
Due: none

Добавлена переменная окружения для подключения к Vectorizer по gRPC
  backend/app/config/env.py
Due: deploy_backend_job

Обновлена схема архитектуры приложения
  images/fja.png
Due: none

Добавлен bash-скрипт генерации .proto-файлов
  vectorizer/proto/generate_proto.sh
Due: none

Добавлены синонимы стран в index_settings
  backend/scripts/init_es.py
Due: deploy_backend_job

Добавлен скрипт вывода списка моделей, поддерживаемых FastEmbed
  vectorizer/models.py
Due: none

Добавлена библиотека grpcio-tools
  backend/pyproject.toml
  backend/uv.lock
Due: deploy_backend_job

Добавлены библиотеки
  vectorizer/pyproject.toml
  vectorizer/uv.lock
Due: none

Переименовано
  backend/app/schemas/chatbot.py
Due: deploy_backend_job

Коррекция путей импортов
  backend/app/config/chatbot.py
  backend/app/core/db_manager.py
  backend/app/core/gigachat.py
  backend/app/db/models/__init__.py
Due: deploy_backend_job

Актуализирована структура проекта (добавлен сервис vectorizer)
  README.md
Due: none

Добавлены настройки сервиса
  vectorizer/app/config.py
Due: none

Добавлена настройка логгирования
  vectorizer/app/logs.py
Due: none

Добавлена загрузка моделей для fastembed
  vectorizer/app/models.py
Due: none

Добавлен README.md сервиса Vectorizer
  vectorizer/README.md
Due: none

Добавлен скрипт запуска сервиса Vectorizer
  vectorizer/server.py
Due: none

Добавлен класс сервиса векторизации
  vectorizer/app/service.py
Due: none

Добавлен proto-файл сервиса векторизации
  vectorizer/proto/vectorizer.proto
Due: none

Добавлены сгенерированные proto-файлы сервиса векторизации
  backend/app/core/grpc_clients/vectorizer_pb2.py
  backend/app/core/grpc_clients/vectorizer_pb2_grpc.py
  vectorizer/proto/vectorizer_pb2.py
  vectorizer/proto/vectorizer_pb2_grpc.py
Due: deploy_backend_job

Добавлены менеджер сервиса векторизации
  backend/app/core/vectorizer.py
Due: deploy_backend_job

Обновление скриншота статьи (добавлен чат-бот)
  images/article.png
Due: none

Добавлен CheckConstraint в модель ChatBotSettings
  backend/app/db/models/chatbot.py
Due: deploy_backend_job

Добавлено создание записи в таблице настроек бота, если её нет
  backend/app/db/repository/chatbot.py
Due: deploy_backend_job

Изменение размера и позиции окна чат-бота
  frontend/src/components/ChatBot.vue
Due: deploy_frontend_job

Убран неиспользуемый код
  backend/scripts/init_data.py
Due: deploy_backend_job

Обновлено описание технологий, структуры и состояния проекта
  README.md
Due: none

Изменение z-index
  frontend/src/App.vue
  frontend/src/components/ChatBot.vue
Due: deploy_frontend_job

Добавлена проверка оставшегося количества токенов
  backend/app/services/chatbot.py
Due: deploy_backend_job

Добавлена директория к кэшу по умолчанию
  vectorizer/app/config.py
Due: none

Корректировка путей bash-скрипта
  vectorizer/proto/generate_proto.sh
Due: none

Добавлен путь к кэшу
  vectorizer/app/models.py
Due: none

Исправлен вывод логов
  vectorizer/server.py
Due: none

Реализован метод EmbedTextBatch векторизатора текста
  vectorizer/app/service.py
Due: none

Актуализация названий полей схемы SChatBotSettings
  backend/app/schemas/chatbot.py
Due: deploy_backend_job

Добавлен метод EmbedTextBatch в сгенерированных .proto-файлах
  vectorizer/proto/vectorizer_pb2.py
  vectorizer/proto/vectorizer_pb2_grpc.py
Due: none

Добавлен метод EmbedTextBatch в .proto-файл
  vectorizer/proto/vectorizer.proto
Due: none

Добавлена библиотека requests
  backend/pyproject.toml
  backend/uv.lock
Due: deploy_backend_job

inc. build
  backend/build
Due: deploy_backend_job

Добавлена директория .idea в правила игнора гита
  vectorizer/.gitignore
Due: none

Добавлены настройки индексов Elasticsearch
  backend/app/config/app.py
Due: deploy_backend_job
