Repository Dmitry178/FrankenJet: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_backend_job, deploy_frontend_job

.gitlab-ci.yml:

stages:
  - deploy_backend
  - deploy_frontend

deploy_backend_job:
  stage: deploy_backend
  tags:
    - deploy
  rules:
    - if: $CI_COMMIT_BRANCH == "deploy"
      changes:
        - backend/**/*
        - .gitlab-ci.yml
        - docker-compose.back.yml
  variables:
    IMAGE: fj-backend
  script:
    - cp ${ENV_BACKEND} backend.env
    - docker compose -f docker-compose.back.yml up -d --build
  after_script:
    - rm -f ./backend.env

deploy_frontend_job:
  stage: deploy_frontend
  tags:
    - deploy
  rules:
    - if: $CI_COMMIT_BRANCH == "deploy"
      changes:
        - frontend/**/*
        - .gitlab-ci.yml
        - docker-compose.front.yml
  script:
    - cp ${ENV_FRONTEND} frontend.env
    - docker compose -f ./frontend/docker-compose.front.yml up -d --build
  after_script:
    - rm -f ./frontend.env

Добавлены правила запуска пайплайнов
  .gitlab-ci.yml
Due: deploy_backend_job, deploy_frontend_job

Вынесены отдельно переменные для пайплайнов
  .gitlab-ci.yml
Due: deploy_backend_job, deploy_frontend_job

Перенесено в ./backend
  backend/docker-compose.yml
Due: deploy_backend_job

Перенесено в ./frontend
  frontend/docker-compose.yml
Due: deploy_frontend_job

Исправлен путь к .env-файлам
  .gitlab-ci.yml
Due: deploy_backend_job, deploy_frontend_job

Исправлен путь в context
  backend/docker-compose.yml
  frontend/docker-compose.yml
Due: deploy_backend_job, deploy_frontend_job

Временно закомментировано COPY ./public /app/public
  frontend/Dockerfile
Due: deploy_frontend_job

Добавлены порты
  backend/docker-compose.yml
  frontend/docker-compose.yml
Due: deploy_backend_job, deploy_frontend_job

Обновлена версия python
  backend/Dockerfile
Due: deploy_backend_job

Установлена переменная окружения APP_MODE=production
  backend/docker-compose.yml
Due: deploy_backend_job

Убран запуск скриптов инициализации, если режим production
  backend/scripts/entrypoint.sh
Due: deploy_backend_job

Скорректирован порт
  frontend/docker-compose.yml
Due: deploy_frontend_job

Временно убран swagger в production
  backend/main.py
Due: deploy_backend_job

Добавлены args в build
  frontend/docker-compose.yml
Due: deploy_frontend_job

Добавлены переменные окружения в пайплайны
  .gitlab-ci.yml
Due: deploy_backend_job, deploy_frontend_job

Version
  frontend/build
Due: deploy_frontend_job

Добавлен лог для отладки
  frontend/src/components/Home.vue
Due: deploy_frontend_job

Убрана переменная окружения
  .gitlab-ci.yml
Due: deploy_backend_job, deploy_frontend_job

Отладка
  .gitlab-ci.yml
Due: deploy_backend_job, deploy_frontend_job

Возвращена переменная окружения API_BASE_URL
  .gitlab-ci.yml
Due: deploy_backend_job, deploy_frontend_job

Убрана переменная с базовым url из запросов
  frontend/src/components/Article.vue
  frontend/src/components/Home.vue
  frontend/src/components/Login.vue
  frontend/src/components/LoginGoogle.vue
  frontend/src/components/Register.vue
  frontend/src/components/ResetPassword.vue
  frontend/src/components/Search.vue
  frontend/src/stores/auth.js
  frontend/src/stores/settings.js
Due: deploy_frontend_job

Переделано получение url вебсокета
  frontend/src/stores/websocket.js
Due: deploy_frontend_job

Version
  backend/build
Due: deploy_backend_job

Изменение префикса url для ссылок на изображения в S3
  backend/app/services/articles.py
  backend/app/services/pages.py
  backend/app/services/search.py
Due: deploy_backend_job

Добавлена переменная окружения S3_DIRECT_URL
  backend/app/config/env.py
Due: deploy_backend_job

Незначительные изменения
  backend/main.py
Due: deploy_backend_job

Изменение ширины полей в зависимости от размеров экрана
  frontend/src/assets/main.css
Due: deploy_frontend_job

Добавлен аннотированный тип
  backend/app/db/types.py
Due: deploy_backend_job

Коррекция фона в светлой теме
  frontend/src/vuetify.config.js
Due: deploy_frontend_job

Добавлен .gitignore в alembic
  backend/alembic/local/versions/.gitignore
  backend/alembic/main/versions/.gitignore
Due: deploy_backend_job

Вынесен project_metadata из types.py
  backend/app/db/__init__.py
Due: deploy_backend_job

Убран неиспользуемый код
  frontend/src/components/Article.vue
Due: deploy_frontend_job

Добавлено копирование конфигурации nginx
  frontend/Dockerfile
Due: deploy_frontend_job

Убраны f-строки
  notifications/app/bot/events.py
Due: none

Добавлена конфигурация nginx
  frontend/nginx.conf
Due: deploy_frontend_job

Корректировка конфигурации для ruff
  backend/pyproject.toml
Due: deploy_backend_job

Дополнено описание структуры проекта
  README.md
Due: none

Убран неиспользуемый импорт
  notifications/app/broker/subscribers.py
Due: none

Перемещение project_metadata
  backend/app/db/types.py
Due: deploy_backend_job
