Repository Dmitry178/FrankenJet: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_backend_job, deploy_frontend_job

.gitlab-ci.yml:

stages:
  - deploy_backend
  - deploy_frontend

deploy_backend_job:
  stage: deploy_backend
  tags:
    - deploy
  rules:
    - if: $CI_COMMIT_BRANCH == "deploy"
      changes:
        - backend/**/*
        - .gitlab-ci.yml
  variables:
    ENV_FILE: backend.env
    YML_FILE: ./backend/docker-compose.yml
  script:
    - cp ${ENV_BACKEND} ${ENV_FILE}
    - docker compose -f ${YML_FILE} up -d --build
  after_script:
    - rm -f ./${ENV_FILE}

deploy_frontend_job:
  stage: deploy_frontend
  tags:
    - deploy
  rules:
    - if: $CI_COMMIT_BRANCH == "deploy"
      changes:
        - frontend/**/*
        - .gitlab-ci.yml
  variables:
    ENV_FILE: frontend.env
    YML_FILE: ./frontend/docker-compose.yml
  script:
    - cp ${ENV_FRONTEND} ${ENV_FILE}
    - docker compose -f ${YML_FILE} up -d --build
  after_script:
    - rm -f ./${ENV_FILE}

Дополнен свой logger
  backend/scripts/init_db.py
  backend/scripts/init_s3.py
Due: deploy_backend_job

Сделано добавление тегов, добавление данных сделано через DBManager
  backend/scripts/init_data.py
Due: deploy_backend_job

Добавлено индексирование статей в Elasticsearch
  backend/scripts/init_es.py
Due: deploy_backend_job

Дополнено описание структуры проекта
  README.md
Due: none

Изменение репозитория образа докера
  docker-compose-full.yml
Due: none

Изменение репозитория образа докера
  elasticsearch/Dockerfile
Due: none

Добавлена переменная окружения ES_JAVA_OPTS
  docker-compose-full.yml
Due: none

Добавлены параметры анализатора
  backend/scripts/init_es.py
Due: deploy_backend_job

Настройка контейнеров elasticsearch и kibana
  docker-compose-full.yml
Due: none

Настройка версии elasticsearch
  elasticsearch/Dockerfile
Due: none

Добавлена переменная окружения ELASTICSEARCH_PASSWORD
  backend/app/config/env.py
Due: deploy_backend_job

Доработка менеджера elasticsearch
  backend/app/core/es_manager.py
Due: deploy_backend_job

Добавлены примеры переменных окружения
  backend/example.env
Due: deploy_backend_job

Корректировка названия метода
  backend/main.py
Due: deploy_backend_job

Скорректированы версии библиотек
  backend/pyproject.toml
  backend/uv.lock
Due: deploy_backend_job

Скорректированы цвета
  frontend/src/vuetify.config.js
Due: deploy_frontend_job

Корректировка поисковых результатов
  frontend/src/components/Search.vue
Due: deploy_frontend_job

Доработка описания
  README.md
Due: none

Доработка вывода результатов поиска через elasticsearch
  backend/app/services/search.py
Due: deploy_backend_job

Доработка скрипта индексации elasticsearch
  backend/scripts/init_es.py
Due: deploy_backend_job

Замена скриншота поиска
  README.md
Due: none

Добавлен скриншот поиска через elasticsearch
  images/elasticsearch.png
Due: none

Корректировка схемы проекта
  README.md
Due: none

Дополнено описание используемых технологий
  README.md
Due: none

Переименование названия свойства
  backend/app/config/env.py
  backend/app/core/__init__.py
  backend/app/core/es_manager.py
Due: deploy_backend_job

Переименование названия переменных окружения
  backend/example.env
Due: deploy_backend_job

Незначительные изменения
  backend/scripts/init_es.py
Due: deploy_backend_job

Доработка docker-compose-full.yml
  docker-compose-full.yml
Due: none

Актуализация названия переменной окружения
  backend/scripts/init_es.py
Due: deploy_backend_job

Добавлен пароль при инициализации ESManager
  backend/app/core/__init__.py
Due: deploy_backend_job

Убраны кавычки в параметрах
  docker-compose-full.yml
Due: none

Добавлена переменная окружения ELASTIC_SSL
  backend/app/config/env.py
Due: deploy_backend_job

Добавлен пароль и параметр ssl при инициализации ESManager
  backend/app/core/es_manager.py
Due: deploy_backend_job

Добавлен пароль Elasticsearch в скрипт индексации
  backend/scripts/init_es.py
Due: deploy_backend_job

Скорректирована обработка пустых результатов поиска
  backend/app/services/search.py
Due: deploy_backend_job

Коррекция названия переменной окружения
  backend/app/config/env.py
Due: deploy_backend_job

Добавлен параметр use_ssl при инициализации ESManager
  backend/app/core/__init__.py
Due: deploy_backend_job

Version
  backend/build
Due: deploy_backend_job

Добавлено предупреждение о времени инициализации данных при первом запуске
  README.md
  docker-compose-bot.yml
  docker-compose.yml
Due: none

Рефакторинг скрипта инициализации данных
  backend/scripts/init_data.py
Due: deploy_backend_job
