Repository Dmitry178/FrankenJet: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_backend_job, deploy_frontend_job

deploy_backend_job:
  stage: deploy_backend
  tags:
  - frankenjet
  variables:
    APP_MODE: production
    ENV_FILE: ./backend/backend.env
    YML_FILE: ./backend/docker-compose.yml
  script:
  - cp ${ENV_BACKEND} ${ENV_FILE}
  - docker compose -f ${YML_FILE} up -d --build
  after_script:
  - rm -f ./${ENV_FILE}

deploy_frontend_job:
  stage: deploy_frontend
  tags:
  - deploy
  variables:
    API_BASE_URL: /api
    ENV_FILE: ./frontend/frontend.env
    YML_FILE: ./frontend/docker-compose.yml
  script:
  - cp ${ENV_FRONTEND} ${ENV_FILE}
  - docker compose -f ${YML_FILE} up -d --build
  after_script:
  - rm -f ./${ENV_FILE}

Корректировка стилей для мобильного/десктоп режима
  frontend/src/components/Home.vue
  frontend/src/vuetify.config.js
Due: deploy_frontend_job

Корректировка стиля ul
  frontend/src/components/Home.vue
Due: deploy_frontend_job

Корректировка стилей пунктов меню
  frontend/src/App.vue
Due: deploy_frontend_job

Актуализация описания в README.md
  README.md
Due: none

Добавлено скачивание sitemap.xml
  backend/app/api/admin.py
Due: deploy_backend_job

Переименовано
  images/elasticsearch.png
Due: none

Обновление скриншота статьи
  images/article.png
Due: none

Обновление скриншота статьи (тёмная тема)
  images/article-dark.png
Due: none

Обновление скриншота главной страницы
  images/home.png
Due: none

Обновление скриншота поисковой страницы
  images/search.png
Due: none

Добавлен скриншот статьи (очень тёмная тема)
  README.md
  images/article-very-dark.png
Due: none

Добавлен скриншот страницы статей
  images/articles.png
Due: none

Добавлен запрос на получение slug статей
  backend/app/db/repository/articles.py
Due: deploy_backend_job

Убран метатег
  frontend/index.html
Due: deploy_frontend_job

Доработка стилей
  frontend/src/components/Articles.vue
Due: deploy_frontend_job

Добавлена генерация sitemap.xml
  backend/app/services/admin.py
Due: deploy_backend_job

Добавлены мета-данные
  frontend/index.html
Due: deploy_frontend_job

Переделана ширина полей в зависимости от ширины экрана
  frontend/src/assets/main.css
Due: deploy_frontend_job

Корректировка стилей
  frontend/src/components/Search.vue
Due: deploy_frontend_job

Добавлены стили в VBreadcrumbs
  frontend/src/vuetify.config.js
Due: deploy_frontend_job

Увеличен размер поля image_license в модели Aircraft
  backend/app/db/models/aircraft.py
Due: deploy_backend_job

Увеличен размер поля image_license в схеме SAircraft
  backend/app/schemas/aircraft.py
Due: deploy_backend_job

Добавлено "Назначение воздушного судна" в таблицу технических характеристик
  frontend/src/components/Aircraft.vue
Due: deploy_frontend_job

Доработано меню для мобильной версии, добавлена кнопка FAB
  frontend/src/App.vue
Due: deploy_frontend_job

Доработан скролл в TOC, кнопка FAB перенесена в App.vue
  frontend/src/components/Article.vue
Due: deploy_frontend_job

Добавлен вывод изображения по умолчанию при отсутствии штатного изображения
  frontend/src/components/Articles.vue
  frontend/src/components/Search.vue
Due: deploy_frontend_job

Добавлена обработка аргумента "skip-facts"
  backend/scripts/init_data.py
Due: deploy_backend_job

Добавлена подготовка тегов перед отправкой в запрос
  backend/app/services/articles.py
Due: deploy_backend_job

Добавлена ссылка на статьи
  frontend/src/components/Home.vue
Due: deploy_frontend_job

Настройка стилей
  frontend/src/vuetify.config.js
Due: deploy_frontend_job

Добавлен запрос на получение статей по группам тегов
  backend/app/db/repository/articles.py
Due: deploy_backend_job

Добавлены факты, вставлены ссылки на статьи
  backend/scripts/data/facts.txt
Due: deploy_backend_job

Сделана обработка ссылок в интересных фактах об авиации
  frontend/src/components/Home.vue
Due: deploy_frontend_job

Добавлено правило игнора в /certs
  backend/certs/.gitignore
Due: deploy_backend_job

Добавлены роутеры чат-бота и websocket
  backend/app/api/__init__.py
Due: deploy_backend_job

Добавлена инициализация настроек чат-бота и менеджера websocket
  backend/app/core/__init__.py
Due: deploy_backend_job

Добавлены модели настроек чат-бота и базы знаний проекта
  backend/app/db/models/__init__.py
Due: deploy_backend_job

Добавлена константа (настройки GigaChat API)
  backend/app/config/app.py
Due: deploy_backend_job

Добавлено поле константа (настройки GigaChat API)
  backend/app/services/app.py
Due: deploy_backend_job

Подключен компонент чат-бота
  frontend/src/App.vue
Due: deploy_frontend_job

Path conditions:
  deploy_backend_job: any of: backend/**/*, .gitlab-ci.yml
  deploy_frontend_job: any of: frontend/**/*, .gitlab-ci.yml
