Repository Dmitry178/FrankenJet: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_backend_job, deploy_frontend_job

deploy_backend_job:
  stage: deploy_backend
  tags:
  - frankenjet
  variables:
    APP_MODE: production
    ENV_FILE: ./backend/backend.env
    YML_FILE: ./backend/docker-compose.yml
  script:
  - cp ${ENV_BACKEND} ${ENV_FILE}
  - docker compose -f ${YML_FILE} up -d --build
  after_script:
  - rm -f ./${ENV_FILE}

deploy_frontend_job:
  stage: deploy_frontend
  tags:
  - deploy
  variables:
    API_BASE_URL: /api
    ENV_FILE: ./frontend/frontend.env
    YML_FILE: ./frontend/docker-compose.yml
  script:
  - cp ${ENV_FRONTEND} ${ENV_FILE}
  - docker compose -f ${YML_FILE} up -d --build
  after_script:
  - rm -f ./${ENV_FILE}

Исправлен url источника
  backend/scripts/articles/graf_zeppelin_1928.md
Due: deploy_backend_job

Добавлен компонент содержания
  frontend/src/components/articles/ArticleTOC.vue
Due: deploy_frontend_job

Добавлен компонент отображения тегов статьи
  frontend/src/components/articles/ArticleTagsList.vue
Due: deploy_frontend_job

Добавлен переход на новую вкладку
  frontend/src/components/articles/ArticleSources.vue
Due: deploy_frontend_job

Вынесены компоненты и бизнес-логика
  frontend/src/components/articles/Article.vue
Due: deploy_frontend_job

Модальное окно с изображением вынесено в отдельный компонент
  frontend/src/components/articles/ArticleImageModal.vue
Due: deploy_frontend_job

Создан сервис для компонента Article.vue
  frontend/src/services/articleService.ts
Due: deploy_frontend_job

Создан отдельный composable для компонента Article.vue
  frontend/src/composables/useArticle.ts
Due: deploy_frontend_job

Добавлен Breadcrumbs
  frontend/src/components/common/VBreadcrumbs.vue
Due: deploy_frontend_job

Добавлен компонент VMeta
  frontend/src/components/common/VMeta.vue
Due: deploy_frontend_job

Изменение возврат кода при ошибке токена в /refresh
  backend/app/api/auth.py
Due: deploy_backend_job

Добавлено поле expired_at в модель RefreshTokens
  backend/app/db/models/auth.py
Due: deploy_backend_job

Добавление значения expired_at в логику генерации/обновления токенов
  backend/app/services/auth.py
Due: deploy_backend_job

Перенос useAuthStore в request interceptor
  frontend/src/plugins/axios.js
Due: deploy_frontend_job

Добавлено поле expired_at в схему SRefreshTokens
  backend/app/schemas/refresh_tokens.py
Due: deploy_backend_job

Добавлена возможность задать дату/время истечения токена
  backend/app/services/security.py
Due: deploy_backend_job

Коррекция правил .gitignore
  vectorizer/.gitignore
Due: none

Обновление версии python
  notifications/.python-version
  vectorizer/.python-version
Due: none

Добавлено название очереди RabbitMQ в конфиге
  notifications/app/core/config.py
Due: none

Изменение тега образа python
  notifications/Dockerfile
Due: none

Добавлены параметры сообщения для бота в callback
  notifications/app/bot/events.py
Due: none

Переделана обработка сообщений от FrankenJet
  notifications/app/broker/frankenjet.py
Due: none

Добавлена обработка сообщений от Vectorizer
  notifications/app/broker/vectorizer.py
Due: none

Незначительные изменения
  notifications/app/bot/handlers.py
Due: none

Добавлена передача имени пользователя в callback
  notifications/app/bot/keyboards.py
Due: none

Добавлено приведение типа эмбединга к np.array
  vectorizer/app/models.py
Due: none

Обновлены версии библиотек
  notifications/pyproject.toml
  notifications/uv.lock
  vectorizer/pyproject.toml
  vectorizer/uv.lock
Due: none

Обновлено описание
  notifications/README.md
Due: none

Добавлена подписка на сообщения от Vectorizer
  notifications/app/broker/subscribers.py
Due: none

Добавлены вспомогательные функции
  notifications/app/bot/utils.py
Due: none

Добавлен модуль вспомогательных функций
  notifications/app/broker/utils.py
Due: none

Path conditions:
  deploy_backend_job: any of: backend/**/*, .gitlab-ci.yml
  deploy_frontend_job: any of: frontend/**/*, .gitlab-ci.yml
