Repository Dmitry178/FrankenJet: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_backend_job, deploy_frontend_job

.gitlab-ci.yml:

stages:
  - deploy_backend
  - deploy_frontend

deploy_backend_job:
  stage: deploy_backend
  tags:
    - deploy
  rules:
    - if: $CI_COMMIT_BRANCH == "deploy"
      changes:
        - backend/**/*
        - .gitlab-ci.yml
  variables:
    ENV_FILE: backend.env
    YML_FILE: ./backend/docker-compose.yml
  script:
    - cp ${ENV_BACKEND} ${ENV_FILE}
    - docker compose -f ${YML_FILE} up -d --build
  after_script:
    - rm -f ./${ENV_FILE}

deploy_frontend_job:
  stage: deploy_frontend
  tags:
    - deploy
  rules:
    - if: $CI_COMMIT_BRANCH == "deploy"
      changes:
        - frontend/**/*
        - .gitlab-ci.yml
  variables:
    ENV_FILE: frontend.env
    YML_FILE: ./frontend/docker-compose.yml
  script:
    - cp ${ENV_FRONTEND} ${ENV_FILE}
    - docker compose -f ${YML_FILE} up -d --build
  after_script:
    - rm -f ./${ENV_FILE}

Переименованы очереди RMQ, удалены неиспользуемые
  backend/app/config/app.py
Due: deploy_backend_job

Временно отключены логи
  backend/app/core/rmq_manager.py
Due: deploy_backend_job

Перехватчик логов вынесен в отдельный модуль
  backend/app/core/logs.py
Due: deploy_backend_job

Актуализация названия очереди
  backend/app/consumers/handlers.py
Due: deploy_backend_job

Исправлены типы переменных окружения, переименованы очереди RMQ
  notifications/app/core/config.py
Due: none

Добавлена схема логов
  backend/app/schemas/logs.py
Due: deploy_backend_job

Добавлен сервис бота уведомлений
  backend/app/services/bot.py
Due: deploy_backend_job

Логика перенесена из эндпоинтов в сервисный слой
  backend/app/api/bot.py
Due: deploy_backend_job

Добавлена инициализация бота уведомлений
  backend/main.py
Due: deploy_backend_job

Добавлены вспомогательные утилиты бота
  notifications/app/bot/utils.py
Due: none

Добавлен в исключения сервисный слой бота уведомлений
  backend/.coveragerc
Due: deploy_backend_job

Добавлен nginx
  docker-compose-bot.yml
Due: none

Добавлена отправка логов в бот уведомлений (уровень ERROR и выше)
  backend/app/core/logs_handlers.py
Due: deploy_backend_job

Добавлена информация про отправку логов в бот уведомлений
  README.md
Due: none

Исправлен путь к изображению
  README.md
Due: none

Добавлен __str__ к Enum
  backend/app/config/env.py
  backend/app/db/models/aircraft.py
Due: deploy_backend_job

Переработана обработка входящих сообщений из RabbitMQ
  notifications/app/broker/subscribers.py
Due: none

Убран вывод версии приложения, переименована переменная очереди отправки в бэкенд
  notifications/app/bot/events.py
Due: none

Добавлена отправка технических сообщений в бот уведомлений
  backend/app/services/bot.py
Due: deploy_backend_job

Сделана отправка сообщений о запуске/остановки приложения
  backend/main.py
Due: deploy_backend_job

Обработка сообщений выведено в отдельный модуль
  notifications/app/broker/subscribers.py
Due: none

Добавлено описание вывода логов
  notifications/README.md
Due: none

Добавлен модуль обработки сообщений от FrankenJet
  notifications/app/broker/frankenjet.py
Due: none

Добавлена проверка наличия соединения с RabbitMQ
  backend/app/services/bot.py
Due: deploy_backend_job

Добавлен networks в redis
  docker-compose-bot.yml
Due: none

Добавлено изображение для README.md
  images/article-dark.png
  images/article.png
  images/fja.png
  images/home.png
  images/search.png
Due: none

Перенесено в images
  img/article-dark.png
  img/article.png
  img/fja.png
  img/home.png
  img/search.png
Due: none

Актуализированы порты в описании сервисов
  README.md
Due: none

Сделана тихая отправка некритических сообщений
  notifications/app/broker/frankenjet.py
Due: none

Изменение разметки сообщения из MD в HTML
  notifications/app/bot/handlers.py
Due: none

Сделан выбор темы dark при первом запуске, если системная тема - dark
  frontend/src/App.vue
Due: deploy_frontend_job

Добавлен обработчик команды /start
  notifications/app/bot/handlers.py
Due: none

Незначительные изменения
  notifications/app/core/logs.py
Due: none

Исправлена ссылка на изображение архитектуры проекта
  README.md
Due: none

Исправление добавления данных
  backend/app/services/admin.py
Due: deploy_backend_job

Добавлен insert_all_conflict в базовый класс репозитория
  backend/app/db/repository/base.py
Due: deploy_backend_job

Добавлен docker-compose-full.yml для запуска приложения с elasticsearch
  docker-compose-full.yml
Due: none

Добавлен Dockerfile для сборки контейнера с Elasticsearch и плагином analysis-icu
  elasticsearch/Dockerfile
Due: none

Добавлен README.md для описания директории elasticsearch
  elasticsearch/README.md
Due: none

Дополнен README.md для описания директории volumes
  volumes/README.md
Due: none
