Repository Dmitry178/FrankenJet: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_backend_job, deploy_frontend_job

.gitlab-ci.yml:

stages:
  - deploy_backend
  - deploy_frontend

deploy_backend_job:
  stage: deploy_backend
  tags:
    - frankenjet
  rules:
    - if: $CI_COMMIT_BRANCH == "deploy"
      changes:
        - backend/**/*
        - .gitlab-ci.yml
  variables:
    APP_MODE: production
    ENV_FILE: ./backend/backend.env
    YML_FILE: ./backend/docker-compose.yml
  script:
    - cp ${ENV_BACKEND} ${ENV_FILE}
    - docker compose -f ${YML_FILE} up -d --build
  after_script:
    - rm -f ./${ENV_FILE}

deploy_frontend_job:
  stage: deploy_frontend
  tags:
    - deploy
  rules:
    - if: $CI_COMMIT_BRANCH == "deploy"
      changes:
        - frontend/**/*
        - .gitlab-ci.yml
  variables:
    API_BASE_URL: /api
    ENV_FILE: ./frontend/frontend.env
    YML_FILE: ./frontend/docker-compose.yml
  script:
    - cp ${ENV_FRONTEND} ${ENV_FILE}
    - docker compose -f ${YML_FILE} up -d --build
  after_script:
    - rm -f ./${ENV_FILE}

Обновлена версия образа python
  backend/Dockerfile
Due: deploy_backend_job

Добавлена ссылка на статью
  backend/scripts/data/facts.txt
Due: deploy_backend_job

Добавлен .run в правила git-игнора
  .gitignore
Due: none

Удалено
  docker-compose-full.yml
Due: none

Доработано общее описание
  README.md
Due: none

Доработано описание сервиса
  vectorizer/README.md
Due: none

Добавлен игнор *.env
  vectorizer/.gitignore
Due: none

Добавлен вариант выбора библиотеки в конфиге
  vectorizer/app/config.py
Due: none

Добавлена переменная RMQ_CONN
  vectorizer/docker-compose.yml
Due: none

Сделана векторизация через sentence_transformers
  vectorizer/app/models.py
Due: none

Добавлен вывод списка моделей для sentence_transformers
  vectorizer/models.py
Due: none

Добавлены библиотеки faststream и sentence-transformers
  vectorizer/pyproject.toml
  vectorizer/uv.lock
Due: none

Добавлена отправка запуска/остановки приложения в бот уведомлений
  vectorizer/server.py
Due: none

Сервер переведён в асинхронный режим
  vectorizer/app/service.py
Due: none

Добавлено поле sources, удалено view_count в модели Articles
  backend/app/db/models/articles.py
Due: deploy_backend_job

Добавлен список тегов в запрос загрузки статьи
  backend/app/db/repository/articles.py
Due: deploy_backend_job

Добавлено поле sources, удалено view_count, скорректирована длина полей в схеме SArticles
  backend/app/schemas/articles.py
Due: deploy_backend_job

Добавлены теги в json статьи в get_article
  backend/app/services/articles.py
Due: deploy_backend_job

Добавлено разделение текста статьи на основной контент и список источников
  backend/scripts/init_data.py
Due: deploy_backend_job

Добавлен компонент списка источников
  frontend/src/components/ArticleSources.vue
Due: deploy_frontend_job

Подключен компонент списка источников и добавлены теги
  frontend/src/components/Article.vue
Due: deploy_frontend_job

Добавлен сервис отправки сообщений в бот уведомлений
  vectorizer/app/bot.py
Due: none

Добавлен перехват логов с отправкой в бот уведомлений
  vectorizer/app/logs_handlers.py
Due: none

Добавлен менеджер RabbitMQ
  vectorizer/app/rmq_manager.py
Due: none

Добавлена схема логов
  vectorizer/app/schemas.py
Due: none

Правка стилей
  frontend/src/components/ArticleSources.vue
Due: deploy_frontend_job

Добавлен роутер пользователей
  backend/app/api/__init__.py
Due: deploy_backend_job

Добавлены константы настроек типов и размеров загружаемых изображений
  backend/app/config/app.py
Due: deploy_backend_job

Коррекция деталей ошибки
  backend/app/exceptions/auth.py
Due: deploy_backend_job

Изменение типа поля user_id в схеме
  backend/app/schemas/auth.py
  backend/app/schemas/bot.py
  backend/app/schemas/jti.py
Due: deploy_backend_job

Корректировка описания
  frontend/README.md
Due: deploy_frontend_job

Добавлено описание директорий в frontend в структуре проекта
  README.md
Due: none

Актуализированы версии библиотек, добавлено vue-advanced-cropper
  frontend/package-lock.json
  frontend/package.json
Due: deploy_frontend_job

Коррекция факта
  backend/scripts/data/facts.txt
Due: deploy_backend_job

Приведение статей к общему стилю
  backend/scripts/articles/concorde_1969.md
  backend/scripts/articles/graf_zeppelin_1928.md
  backend/scripts/articles/il_2_1939.md
Due: deploy_backend_job

Перенос компонента
  frontend/src/components/Login.vue
Due: deploy_frontend_job

Коррекция статьи
  backend/scripts/articles/wright_flyer_1903.md
Due: deploy_backend_job

Изменение цвета
  frontend/src/vuetify.config.js
Due: deploy_frontend_job

Изменение аннотированных типов fk_user и fk_user_cascade
  backend/app/db/types.py
Due: deploy_backend_job

Изменение названий полей в обработке поискового запроса
  backend/app/services/search.py
Due: deploy_backend_job
