Repository Dmitry178/FrankenJet: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_backend_job, deploy_frontend_job

deploy_backend_job:
  stage: deploy_backend
  tags:
  - deploy
  variables:
    ENV_FILE: backend.env
    YML_FILE: ./backend/docker-compose.yml
  script:
  - cp ${ENV_BACKEND} ${ENV_FILE}
  - docker compose -f ${YML_FILE} up -d --build
  after_script:
  - rm -f ./${ENV_FILE}

deploy_frontend_job:
  stage: deploy_frontend
  tags:
  - deploy
  variables:
    ENV_FILE: frontend.env
    YML_FILE: ./frontend/docker-compose.yml
  script:
  - cp ${ENV_FRONTEND} ${ENV_FILE}
  - docker compose -f ${YML_FILE} up -d --build
  after_script:
  - rm -f ./${ENV_FILE}

Незначительные изменения
  backend/tests/integration_tests/test_api_settings.py
Due: deploy_backend_job

Добавлены тесты API тегов
  backend/tests/integration_tests/test_api_tags.py
Due: deploy_backend_job

Сделан выброс исключения, если редактируемый тег не найден
  backend/app/api/tags.py
Due: deploy_backend_job

Изменение вывода результата в POST /tags/generate
  backend/app/api/tags.py
Due: deploy_backend_job

Добавлен тест pydantic-схемы тегов
  backend/tests/unit_tests/test_schemas.py
Due: deploy_backend_job

Добавлен тест автоматической генерации тегов в сервисном слое
  backend/tests/integration_tests/test_services_tags.py
Due: deploy_backend_job

Добавлены исключения
  backend/.coveragerc
Due: deploy_backend_job

Добавлен роутер фактов об авиации
  backend/app/api/__init__.py
Due: deploy_backend_job

Добавлен nosec B105 для исключения ложно-положительного срабатывания проверки на безопасность
  backend/app/config/app.py
Due: deploy_backend_job

Добавлен метод count в базовый репозиторий
  backend/app/db/repository/base.py
Due: deploy_backend_job

Изменение тега роутера
  backend/app/api/countries.py
Due: deploy_backend_job

Добавлены эндпоинты фактов об авиации
  backend/app/api/facts.py
Due: deploy_backend_job

Добавлена модель фактов об авиации
  backend/app/schemas/facts.py
Due: deploy_backend_job

Добавлены тесты базового репозитория
  backend/tests/unit_tests/test_base_repository.py
Due: deploy_backend_job

Добавлен тест отката транзакции
  backend/tests/unit_tests/test_db_manager.py
Due: deploy_backend_job

Добавлен shutdown event
  backend/app/core/shutdown.py
Due: deploy_backend_job

Добавлена обработка ошибок при переподключении
  backend/app/core/rmq_manager.py
Due: deploy_backend_job

Добавлена обработка сигнала остановки приложения в API
  backend/main.py
Due: deploy_backend_job

Удалено
  .gitlab-ci.example.yml
  docker-compose-ci.yml
Due: none

Перенесено добавление index_local_router
  backend/app/api/__init__.py
Due: deploy_backend_job

Добавлено исключение csrf_token_error
  backend/app/exceptions/api.py
Due: deploy_backend_job

Добавлен хост "dev.lan" в конфиг VITE
  frontend/vite.config.js
Due: deploy_frontend_job

Убраны f-строки
  backend/tests/conftest.py
Due: deploy_backend_job

Добавлена очистка поисковой строки от скриптов
  frontend/src/components/Search.vue
Due: deploy_frontend_job

Сделано добавление CSRF-токена в заголовки
  frontend/src/plugins/axios.js
Due: deploy_frontend_job

Добавлены настройки доступности swagger в проде
  backend/app/config/env.py
Due: deploy_backend_job

Добавлены переменные в пример настроек .env
  backend/example.env
Due: deploy_backend_job

Добавлен пункт "Безопасность"
  README.md
Due: none

Добавлен middleware для проверки CSRF-токена
  backend/main.py
Due: deploy_backend_job

Добавлены правила
  volumes/.gitignore
Due: none

Перенесено в /img
  img/article-dark.png
  img/article.png
  img/fja.png
  img/home.png
  img/search.png
Due: none

Добавлен системный путь для скрипта
  backend/scripts/init_db.py
Due: deploy_backend_job

Добавлен блок try/except в метод создания бакетов
  backend/scripts/init_s3.py
Due: deploy_backend_job

Убран устаревший код
  backend/main.py
Due: deploy_backend_job

Небольшие корректировки
  volumes/README.md
Due: none

Актуализирована информация по деплою
  README.md
Due: none

Переименована переменная окружения
  backend/app/config/env.py
Due: deploy_backend_job

Добавлен конфиг Nginx
  volumes/nginx.conf
Due: none

Добавлен Nginx
  docker-compose.yml
Due: none

Path conditions:
  deploy_backend_job: any of: backend/**/*, .gitlab-ci.yml
  deploy_frontend_job: any of: frontend/**/*, .gitlab-ci.yml
